@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using EeD_BE_EeD.Models


        <a asp-area="Identity" asp-page="/Account/Register">

            <span class="truncate">Join for Free</span>
        </a>
